# Netcup credentials used by Certbot
dns_netcup_customer_id  = "{{ certbot_netcup_customer_id }}"
dns_netcup_api_key      = "{{ certbot_netcup_api_key }}"
dns_netcup_api_password = "{{ certbot_netcup_api_password }}"